.navbar {
    background-color:transparent;
    height: 150px;
    display: flex;
    align-items: center;

}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: 363px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 48px; /* Espacement de 100px vers la droite */
}

.menu a {
    text-decoration: none;
    margin-right: 62px;
}

.btn-secondary a {
    color: var(--primary);
    text-decoration: none;
}
