.container {
    display: flex;
  }
  
.img-column, .text-column {
    flex: 1;
  }

.text-column {
    flex: 1;
    margin-left: 144px; 
  }
  
.img-column img {
    max-width: 1rem;
  }

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 110px;
}