:root{
    /*couleurs*/
    --primary: #7580F7;
    --seconday: #373090;
    --rose-linguistique: #FFA8D0;
    --jaune-kine: #FFD781;
    --vert-naturaliste: #9AD785;
    --rouge-visuel: #ED9F9A;
    --mauve-logico: #BDAFAE;
    --bleu-intra: #B9DCE1;
    --violet-musique: #C9BBFF;
    --bleu-inter: #72A9F8;
    --neutre-00: #FFFF;
    --neutre-100: #0000;
    --secondary-10: #BEC4FF;
}