.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.image-column, .text-column {
    flex: 1;
}

.text-column {
    flex: 1;
    margin-left: 144px; 
}
  
.image-column img {
    width: auto;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 110px;
}
