/*Style pour la page index*/

main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h1{
    color:var(--neutre-00);
    margin-top: 10rem;
}

.intro{
    display: flex;
    gap: 2rem;
    color: var(--neutre-00);
}

.intro div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/*fond violet pour le haut*/
.bg{ 
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center{
    align-self: center;
}

img{
    width: 618px;
}