.container {
    display: flex;
  }
  
.image-column, .text-column {
    flex: 1;
  }

img{
  width: 436px;
  height: 304px;
}

.text-column {
    flex: 1;
    margin-left: 134px; 
  }
  
.image-column img {
    max-width: 100%;
    height: auto;
  }
