@import url(https://fonts.bunny.net/css?family=poppins:100,200,200i,400,600,700,800,900);

:root{
    /*couleurs*/
    --primary: #7580F7;
    --seconday: #373090;
    --rose-linguistique: #FFA8D0;
    --jaune-kine: #FFD781;
    --vert-naturaliste: #9AD785;
    --rouge-visuel: #ED9F9A;
    --mauve-logico: #BDAFAE;
    --bleu-intra: #B9DCE1;
    --violet-musique: #C9BBFF;
    --bleu-inter: #72A9F8;
    --neutre-00: #FFFF;
    --neutre-100: #000;
    --secondary-10: #BEC4FF;
}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    margin: 100px;
    background-color: var(--neutre-00);
    font-family: Poppins, sans-serif;
    color: var(--neutre-100);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

.button{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    gap: .5rem;
}

.secondary{
    border: 1px solid var(--primary);
}

.button a{
    text-decoration: none;
    color: var(--primary);
}

.button:hover{
    cursor: pointer;
    color: var(--secondary-10);
    transition: all .5sec ease-in-out;
    border: 1px solid var(--secondary-10);
}

.button:hover a{
    transition: all .5sec ease-in-out;
    color: var(--secondary-10);
}

