@import url(https://fonts.bunny.net/css?family=poppins:100,200,200i,400,600,700,800,900);

/*style commun à toutes les pages (en gros -> Design system)*/

:root{
    /*couleurs*/
    --primary: #7580F7;
    --seconday: #373090;
    --rose-linguistique: #FFA8D0;
    --jaune-kine: #FFD781;
    --vert-naturaliste: #9AD785;
    --rouge-visuel: #ED9F9A;
    --mauve-logico: #BDAFAE;
    --bleu-intra: #B9DCE1;
    --violet-musique: #C9BBFF;
    --bleu-inter: #72A9F8;
    --neutre-00: #FFFF;
    --neutre-100: #000;
    --secondary-10: #BEC4FF;
}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

body {
    margin: 0 100px 100px;
    background-color: var(--neutre-00);
    font-family: Poppins, sans-serif;
    color: var(--neutre-100);
}

/*textes*/

h1{
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
}

h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    color: var(--primary);
}

h3{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
}

p{
    font-weight: 400;
}

.p1{
    font-size: 1rem;
    line-height: 1.5rem;
}

.p2{
    font-size: .75rem;
    line-height: 18px;
}

.octopus{
    font-size: 20px;
}

.numero{
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    margin: 0;
}

/*mises en avant des textes par la couleur*/

.kine{
    color: var(--jaune-kine);
}

.intra{
    color: var(--bleu-intra);
}

.inter{
    color: var(--bleu-inter);
}

.logico{
    color: var(--mauve-logico);
}

.ling{
    color: var(--rose-linguistique);
}

.visuel{
    color: var(--rouge-visuel);
}

.naturalist{
    color: var(--vert-naturaliste);
}

.musique{
    color: var(--violet-musique);
}

/*boutons*/

button{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    gap: .5rem;
    font-size: 14px;
}

.btn-primary{
    background-color: var(--primary);
    border: none;
}

.btn-primary a{
    text-decoration: none;
    color: var(--neutre-00);
}

.btn-primary:hover{
    cursor: pointer;
    background-color: var(--secondary-10);
    transition: all 0.5sec ease-in-out;
}

.btn-primary:hover a{
    color: var(--neutre-00);
    transition: all 0.5sec ease-in-out;
}

.btn-secondary{
    background-color: var(--neutre-00);
    border: 1px solid var(--primary);
}

.btn-secondary a{
    text-decoration: none;
    color: var(--primary);
}

.btn-secondary:hover{
    cursor: pointer;
    color: var(--secondary-10);
    transition: all 0.5sec ease-in-out;
    border: 1px solid var(--secondary-10);
}

.btn-secondary:hover a{
    transition: all 0.5sec ease-in-out;
    color: var(--secondary-10);
}

.btn-white{
    background-color: var(--primary);
    border: 1px solid var(--neutre-00);
}

.btn-white a{
    color: var(--neutre-00);
}

/*input*/

input{
    border: 1px solid var(--primary);
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-size: 12px;
    color: var(--primary);
}